GhostShell/GhostShell.Client/bin/
GhostShell/GhostShell.Client/obj/
GhostShell/GhostShell.Example/bin/Debug/GhostShell.Example.exe.config
GhostShell/GhostShell.Example/obj/Debug/GhostShell.Example.csproj.FileListAbsolute.txt
GhostShell/GhostShell.Example/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
GhostShell/GhostShell.Example/obj/
GhostShell/GhostShell/bin/
GhostShell/GhostShell/obj/
GhostShell/packages/
